@font-face {
    font-family: fonte;
    src: url(Zuume-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4655;
    --secondary-color: #0F1923;
    --terciary-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 102px 1fr;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding-left: 64px;
    gap: 32px;
    font-weight: 700;
    background-color: var(--primary-color);
}

.logo-riot {
    width: 165px;
    height: 59px;
}

.logo-valorant {
    width: 67px;
    height: 59px;
}

.vetor {
    background-color: var(--secondary-color);
    height: 65px;
    width: 3px;
}

.navegacao {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 35px;
    padding-left: 15vw;
}

ul li:hover {
    color: rgb(235, 217, 217);
}

.botao {
    color: var(--secondary-color);
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "descricao botao__join personagem valorant";
    grid-template-columns: 555px 880px 0px 485px;
    background-color: var(--secondary-color);
    background-image: url(./img/image\ 4.png);
    position: relative;
}

.descricao {
    margin-top: 26.94px;
    grid-area: descricao;
    display: flex;
    flex-direction: column;
}

.nome__personagem {
    font-family: fonte;
    font-size: 220px;
    font-weight: 800;
    padding-left: 64px;
    color: var(--primary-color);
}

.sentinel {
    font-family: fonte;
    font-size: 48px;
    font-weight: 800;
    position: absolute;
    padding-top: 165px;
    padding-left: 395px;
    color: var(--terciary-color);
}

.bio {
    font-family: fonte;
    font-size: 48px;
    font-weight: 800;
    padding-left: 64px;
    color: var(--terciary-color);
}

.descricao__portugues {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 64px;
    width: 510px;
    height: 120px;
    color: var(--terciary-color);
}

.descricao__ingles {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-top: 49px;
    padding-left: 64px;
    width: 510px;
    height: 120px;
    color: var(--terciary-color);
}

.botao__join {
    grid-area: botao__join;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26.94px;
    padding-top: 360px;
    padding-right: 100px;
}

.botao__entrar {
    font-family: fonte;
    z-index: 1;
    font-size: 36px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 50px;
    width: 200px;
    height: 60px;
    color: var(--terciary-color);
    border: 2.5px solid var(--terciary-color);
}

a.botao__entrar:hover {
    color: black;
}

.fundo__botao {
    position: absolute;
    width: 200px;
    height: 60px;
    margin-top: 382px;
    margin-left: 840px;
    background-color: var(--primary-color);
}

.personagem {
    position: absolute;
    margin-top: -20px;
    padding-left: 1132px;
}

.personagem__killjoy {
    width: 583px;
    height: 850.2px;
}

.valorant {
    grid-area: valorant;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.img-vertical {
    padding-left: 300px;
    width: 384px;
    height: 574px;
}

.primeira__info {
    position: absolute;
    width: 260px;
    height: 110px;
    background: var(--terciary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 680px;
    margin-left: 72px;
    font-weight: 700;
}

.viper {
    z-index: 1;
    padding-right: 193px;
    width: 281px;
    height: 78px;
}

.titulo__info {
    position: absolute;
    z-index: 1;
    font-family: fonte;
    font-weight: 700;
    font-size: 15px;
    margin-left: 105px;
    margin-bottom: 80px;
}

.vermelho {
    color: var(--primary-color);
}

.descricao__info {
    position: absolute;
    z-index: 1;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    width: 129px;
    height: 44px;
    margin-left: 115px;
    margin-bottom: 20px;
}

.segunda__info {
    position: absolute;
    width: 260px;
    height: 110px;
    background: var(--terciary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 680px;
    margin-left: 370px;
    font-weight: 700;
}

.raze {
    z-index: 1;
    padding-right: 193px;
    width: 281px;
    height: 78px;
}

.segundo__titulo__info {
    position: absolute;
    z-index: 1;
    font-family: fonte;
    font-weight: 700;
    font-size: 15px;
    margin-left: 105px;
    margin-bottom: 80px;
}

.segunda__descricao__info {
    position: absolute;
    z-index: 1;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    width: 129px;
    height: 44px;
    margin-left: 115px;
    margin-bottom: 20px;
}

.terceira__info {
    position: absolute;
    width: 260px;
    height: 110px;
    background: var(--terciary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 680px;
    margin-left: 678px;
    font-weight: 700;
}

.kayo {
    z-index: 1;
    padding-right: 190px;
    height: auto;
    width: 278px;
    height: 78px;
}

.terceiro__titulo__info {
    position: absolute;
    z-index: 1;
    font-family: fonte;
    font-weight: 700;
    font-size: 15px;
    margin-left: 105px;
    margin-bottom: 80px;
}

.terceira__descricao__info {
    position: absolute;
    z-index: 1;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    width: 129px;
    height: 44px;
    margin-left: 115px;
    margin-bottom: 20px;
}

.icone {
    position: absolute;
    font-size: 15px;
    margin-top: 80px;
    z-index: 1;
    color: var(--secondary-color);
}

.icone__twitter {
    position: absolute;
    margin-top: 80px;
    margin-left: 70px;
    font-size: 15px;
    z-index: 1;
    color: var(--secondary-color);
}

.veja__mais {
    position: absolute;
    font-family: fonte;
    font-size: 15px;
    font-weight: 700;
    margin-top: 80px;
    margin-left: 180px;
    z-index: 1;
    color: var(--secondary-color);
}

.primeira__borda {
    position: absolute;
    width: 260px;
    height: 115px;
    margin-top: 685px;
    margin-left: 67px;
    border: 1px solid var(--primary-color);
}

.segunda__borda {
    position: absolute;
    width: 260px;
    height: 115px;
    margin-top: 685px;
    margin-left: 364px;
    border: 1px solid var(--primary-color);
}

.terceira__borda {
    position: absolute;
    width: 260px;
    height: 115px;
    margin-top: 685px;
    margin-left: 673px;
    border: 1px solid var(--primary-color);
}