@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body {
    background-image: url(./img/image\ 4.png)
} */
:root{
    --primary-color: #FF4655;
    --secondary-color: #0F1923;
    --terciary-color: #FFFFFF;
}
body{
    background-color: var(--secondary-color);
}
header{
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 3vw;
}
.parte-cima{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40vw;
    gap: 30px;
}
.vetor{
    background-color: var(--secondary-color);
    height: 65px;
    width: 3px;
}
/* span{
    font-family: 'Poppins', sans-serif;
} */
.navegacao {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 35px;
    padding-left: 15vw;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3%;
}

.title {
    position: relative;
    grid-column: 1/3;
    top: 5%;
    left: 10%;
}

.titulo {
    grid: 1/-1;
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    font-size: 9vw;
}

.titulo-2 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: var(--terciary-color);
    font-size: 2vw;
    top: -22%;
    left: 137%;
}

a {
    text-decoration: none;
    color: var(--secundary-color);
}

.descricao {
    position: relative;
    grid-column: 1/5;
    font-family: 'Poppins', sans-serif;
    color: var(--terciary-color);
    padding: 6%;
    top: -60%;
    
}

.descricao_dois {
    flex: 1;
    position: relative;
    grid-column: 1/5;
    font-family: 'Poppins', sans-serif;
    color: var(--terciary-color);
    padding: 6%;
    top: -30%;
}

.img-background {
    /* flex: 1;
    grid-column: 1/-1;
    position: relative;
    left: 40%;
    top: -100%;
    z-index: -1;
    width: 70vw;
    height: 45vw;
    transform: translateX(-50%); */
    position: absolute;
    width: 1401.46px;
    height: 800.06px;
    left: 0px;
    top: 128.94px;
}

.img-left {
    position: relative;
    grid-column: 5/12;
    top: -80%;
    left: 50%;

}

.img-killjoy {
    width: 648px;
    height: 835px;
    left: 1132px;
    top: 71px;
}


